html {
	font-family: 'Droid Sans Mono', sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#controls {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 1000000;
	text-align: center;
	color: white;
	cursor: pointer;
	float: left;
}

form {margin:0;}


#resButton, #comButton, #indButton, 
#farmButton, #desButton, #cashPanel,
#demandPanel, #happyPanel, #taxPanel {
	width: 170px;
	float: left;
	line-height: 46px;
	margin-right: -3px;
	margin-top: -3px;
	opacity: 1;
	height: 46px;
}
.buttonIcon {
	float: left;
	height: 46px;
	width: 46px
}


#demandPanel {overflow:hidden;}
#demandPanel > div {float:left; width:25%;}

#demandPanel .top, #demandPanel .bottom {height: 12px;margin:0 4px;}
#demandPanel .mid {color:black; font-size:0.8em; line-height:1em;}

#viewer {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#world {
	position: relative;
	min-width: 100%;
	min-height: 100%;
}

.plot {
	width: 128px;
	height: 96px;
	position: absolute;
	background: white;
	font-size: 13px;
	line-height: 15px;
	text-align: center;
	color: white;
}
