/* Tiles */
#world {
	background: #6a942c url("ground.png");
}

.res.low {
	background: url("house.png");
}

.com.low {
	background: url("store.png");
}

.ind.low {
	background: url("factory.png");
}

.farm.low {
	background: url("farm.png");
}

.message:after {
    border-color: #FFFFFF transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    bottom: -5px;
    content: "";
    display: block;
    left: 52px;
    position: absolute;
    width: 0;
}
.message:before {
    border-color: #807B77 transparent;
    border-style: solid;
    border-width: 8px 8px 0;
    bottom: -8px;
    content: "";
    display: block;
    left: 49px;
    position: absolute;
    width: 0;
}

.message {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #807B77;
    border-radius: 10px;
    color: #333333;
    margin: 1em 0 3em;
    padding: 5px;
    position: absolute;
    max-width: 100px;
    opacity: 0;
}

.message.lifespan2 {
    -webkit-animation: messageFade 2s 1;
    -moz-animation: messageFade 2s 1;
}

@-webkit-keyframes messageFade {
    0% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes messageFade {
    0% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}


/* demand panel */
#demandPanel .res .top, #demandPanel .res .bottom {
	background: rgba(30,250,30,1);
}

#demandPanel .com .top, #demandPanel .com .bottom {
	background: rgba(30,30,250,1);
}

#demandPanel .ind .top, #demandPanel .ind .bottom {
	background: rgba(30,30,30,1);
}

#demandPanel .farm .top, #demandPanel .farm .bottom {
	background: olive;
}

.goldCoin {
	width:32px;
	height:22px;
	background: url(gold.png) 0 0;
	background-position:  96px 0;
	display: inline-block;
	margin-bottom: -6px;
}

#resButton .buttonIcon {
	background: url("house-icon.png");
}

#comButton .buttonIcon {
	background: url("store-icon.png");
}

#indButton .buttonIcon {
	background: url("factory-icon.png");
}

#farmButton .buttonIcon {
	background: url("farm-icon.png");
}
